.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

// .blocflex {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     // Cette déclaration sera meilleur quand min() sera mieux supporté
//     // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
//     gap: 2rem;
//     margin: clamp(0rem, -0.7692rem + 2.4615vw, 2rem);
  
//   }

  .blocflex__article {
    display: flex;
    flex: 1 0 300px;
    background-color: rgb(249, 239, 206);
    border: 1px black solid;
    flex-direction: column;
    padding: 1em;
    order: 2;
    justify-content: space-between;
    h3,h5,h6,p{
      margin: 0;
      padding: 0;
    }
  }
  .blockflex__galerie{
    // display: flex;
    // flex: 1 0 100% ;
    box-shadow: none;
    // figure{
    //   transform-origin: center left;
    //   transform: ScaleX(1);
    //   transition: transform .5s;
    // }
    img{ border-radius: 20%;}
    img:hover{
      scale: 1.2;
      z-index: 1;
      transition: scale 0.5 s;
    }
//     label{
//       position: absolute;
//       scale: 2;

//     }
//     label::before {
//       content: '\2B9C';
//   }
//   #replis{
//     display: none;
//   }
//   #replis:checked ~ label {
//     transform: rotate(180deg);
//   }
//   #replis:checked ~ figure {
//     transform: ScaleX(0);
// }
  }



  