.menu-entete-container{
    background-color: rgb(4, 29, 41);
    padding: 0.1% 0.1%;
    padding-right: 3%;
}
#menu-entete{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li{
        background-color:  beige;
        border: 1px solid #aaa;
        flex: 1 1 200px;
        text-align: center;
        padding: 1% 0;
        color: cadetblue;
        list-style-type: none;
    }

}