.titre{
    padding-bottom: 2rem;
    padding-left: clamp(0rem, -0.7692rem + 2.4615vw, 2rem);
}
main{
    padding:3rem;
    border-top: 1px solid black;
    // background: linear-gradient(#e66465, #9198e5);
    article{
        box-shadow: 12px 12px 2px 1px rgba(79, 79, 155, 0.2);
    }

}
