.titre{
    padding-bottom: 2rem;
    padding-left: clamp(2rem, 1.6154rem + 1.2308vw, 3rem);
}
main{
    padding: clamp(1rem, 0.2308rem + 2.4615vw, 3rem);
    border-top: 1px solid black;
    // background: linear-gradient(#e66465, #9198e5);
    article{
        box-shadow: 12px 12px 2px 1px rgba(79, 79, 155, 0.2);
    }

}
h7{
    background-color: rgb(188, 36, 36);
}
table{
    border: 1px solid rgb(0, 0, 0);
    th,td{
        border: 1px dotted rgb(0, 0, 0);
    }
    th{
        background-color: aqua;
    }
    td:nth-child(even){
        background-color: rgb(241, 171, 171);
    }
    td:nth-child(odd){
        background-color: rgb(173, 171, 241);
    }

    
}
