.menu-evenement-container{
    width: 85%;
    .menu{ //ul
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        justify-content: center;
        .menu-item{//li
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            border: 1px solid #aaa;
            background-color: rgb(96, 85, 74);
            //height: 50px;
            margin: 10px;
        }
        a{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 0 1rem;
            width: 300px;
            font-family: monospace;

            @media screen and (min-width: $largeur__bureau) {
                width: 400px;
            }
            
            .title{
                font-size: 1.3rem;
                font-family: Georgia, 'Times New Roman', Times, serif;
                display: block;
                padding: 5px 0;
            }
            .description{
                font-size: .8rem;
                padding-bottom: 10px;
            }
            .menu-thumbnail{
                display: block;
                width: 150px;
                height: 150px;
            }
        }
    }
}
.menu-bloc-archive-container .menu .menu-item a{
    background-repeat: no-repeat;
    display: block;
}
.bloc__cours a{
    background-image: url(https://s2.svgbox.net/octicons.svg?ic=mortar-board);
}
.bloc__4w4 a{
    background-image: url(https://s2.svgbox.net/octicons.svg?ic=repo-bold);
}