.site__header{
    h1, h2{
        padding-left: clamp(3.5rem, 2.9231rem + 1.8462vw, 5rem);
    }
}
.site__header__logo{
    background-color: rgb(64, 56, 55);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}
.logomenu{
    display: flex;
    align-items: center;
}

/* ------------------------------------------------ Menu-entete */
.menu-entete-container{ //nav
    .menu{ //ul
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        flex-wrap: wrap;

        .menu-item{
            a {
                display: block;
                
                padding: 5px 20px;
            }
        }
    }
}

form{
    display: flex;
    margin-bottom: 5px;
    input{
        height: 2.5rem; 
        border-radius: 1rem 0 0 1rem;
        border: none;
        padding-left: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    button{
        border: none;
        border-radius: 0 1rem 1rem 0;
    }
}

