/* 
Clamp font-size generator *
https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiIxODAwcHgiLCJtaW5Gb250U2l6ZSI6IjE0cHgiLCJtYXhGb250U2l6ZSI6IjUycHgifQ%3D%3D
*/
h1 {
  font-size: clamp(2.5rem, 2.2596rem + 0.7692vw, 3.125rem);
  }
  h2 {
    font-size: clamp(1.875rem, 1.6346rem + 0.7692vw, 2.5rem);
  }
  h3 {
    font-size: clamp(0.5625rem, -0.25rem + 2.6vw, 2.1875rem);
  }
  h4 {
    font-size: clamp(0.5rem, -0.1875rem + 2.2vw, 1.875rem);
  }
  h5 {
    font-size: clamp(1.375rem, 1.1106rem + 0.8462vw, 2.0625rem);
  }
  h6 {
    font-size: clamp(1.5rem, 1.3077rem + 0.6154vw, 2rem);
  }
  
  P {
    font-size: clamp(1rem, 0.9519rem + 0.1538vw, 1.125rem);
  }
  
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  h2 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* font-family: "Slackey", cursive; */
  }
  
  h3,
  h4,
  h5,
  h6 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
     
  }