 a {
    color:  rgb(79, 69, 69);
    &:visited{
        color:  rgb(79, 69, 69)  
    }
    &:hover{
        color: rgb(235, 119, 119);
    }
    &:hover,
    &:visited,
    &:active,
    &:link {text-decoration: none;}
}

.menu-item a{
    color: white;
    &:visited{
        color: rgb(235, 119, 119);
    }
    &:hover{
        color: rgb(235, 72, 72);
        border-bottom: 1px solid black;
    }
}



