 a {
    color: rgb(4, 89, 92);
    &:visited{
        color: rgb(21, 1, 37)
       
    }
    &:hover{
        color: rgb(1, 58, 58);
    }
    &:hover,
    &:visited,
    &:active,
    &:link {text-decoration: none;}
}

.menu-item a{
    color: white;
    &:visited{
        color: rgb(110, 72, 235);
    }
    &:hover{
        color: rgb(235, 72, 72);
    }
}



