// Les balise qu'on utilise dans la conversion des fichiers markdown

ul,ol{

}


ul > li,
ol > li{
    padding: 3px;
}
main li::before{
    content: "\2694";
    background-color: lightblue;
    border-radius: 1ch;
    padding-inline: 1ch;
    padding-inline-end: 1ch;
}
ul{
    list-style-type: none;
    padding-top: 3px;
}

ul>li{ }
ol>li{}

/* ************************************** pre */
pre{}
code{}
i{}
blockquote{color: rgb(102, 86, 86); font-weight: 700; }
hr{ }
strong{font-style: italic; color: rgb(89, 133, 216);}